<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">My Amazon</h5>


  <div class="top-bar-item top-bar-item-full flex-fill mx-5">
    <!-- .top-bar-search -->
    <form class="top-bar-search">
      <!-- .input-group -->
      <div class="input-group input-group-search dropdown">
        <div class="input-group-prepend">
          <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
        </div><input type="text" class="form-control" data-toggle="dropdown" aria-label="Search" placeholder="Search" aria-expanded="false"> <!-- .dropdown-menu -->
      </div><!-- /.input-group -->
    </form><!-- /.top-bar-search -->
  </div>

  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Features</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
